@import "src/styles/scss/base.scss";

.navbar {
    padding-block: 1rem;
    transition: $transition;

    @include darkTheme;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &-brand {
        display: flex;
        align-items: center;

        h3 {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    &-nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        li {
            padding: 1rem 1.5rem;
            cursor: pointer;

            text-align: center;

            &:hover {
                @include hoverButton
            }
        }
    }
}